{# templates/includes/article_form.html.twig #}
{{ form_start(form, {'attr': {'class': 'row'}}) }}
	<div class="input-field col s12 m12 l12">
		{{ form_widget(form.picture) }}
	</div>

	<div class="input-field col s12 m6 l6">
		{{ form_widget(form.title, {'attr': {'placeholder': 'Titre de l\'article'}}) }}
		{{ form_label(form.title, 'Le titre de votre article') }}
		<span class="error">{{ form_errors(form.title) }}</span>
	</div>

	<div class="input-field col s12 m12 l12">
		<input type="submit" name="" value="Enregistrer" class="btn btn-primary">
	</div>
{{ form_end(form) }}